/* Body */
main {
  font-family: "PT Serif", serif;
  scroll-behavior: smooth;
}
.red {
  color: #9b0707;
}
/* Header */
nav {
  z-index: 3;
}
.dropdown-menu.show {
  max-width: 92vw;
}

.nav-link,
.nav-link:hover {
  color: #ffffff;
  font-family: "PT Serif", serif;
  text-decoration: none;
  text-transform: uppercase;
}

.nav-link {
  color: white !important;
}

.dropdown-item:hover {
  background-color: #9b1b1b;
  color: #fff;
}

/* Video */
.videoholder {
  position: relative;
  /* z-index: -1; */
}

.video-nav {
  position: absolute;
  left: 50%;
  top: 10px;
  transform: translate(-50%);
  display: flex;
  z-index: 0;
}

.video-nav-item {
  background-color: rgb(247, 57, 57);
  height: 4px;
  width: 30px;
  margin-left: 20px;
  cursor: pointer;
  transition: height, width linear 0.2s;
  opacity: 0.7;
}

.video-nav-item.nav-active {
  width: 40px;
  height: 6px;
}

.video-nav-item:hover {
  /* height: 6px; */
  width: 40px;
  opacity: 1;
  background-color: white;
}

#myvideo {
  box-shadow: 0px 0px 30px 2px #580505;
  width: 73%;
  height: auto;
  /* z-index: -3; */
}
/* flexbox */
.center {
  display: flex;
  justify-content: center;
}

.matter-align-center {
  display: flex; /*correspondence */
  flex-direction: column;
  width: 75%;
  margin-left: 10%;
}

.vertical-center {
  display: flex; /*policy and image grid */
  flex-direction: column;
  align-items: center;
}
.radial-gradient {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: radial-gradient(circle, #974e4ee1, #983030);
  /* #983030 */
  /*  */
  /* #918e8ee1, #3a3737 greys */
  text-align: center;
  color: #fff;
}
/* Message */

.right {
  justify-self: end;
}

.text1 {
  width: 25vw;
  text-align: justify;
}
.img2 {
  height: auto;
  width: 25vw;
}

/* Grids */
.quotes {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  width: 75%;
}

.directors {
  display: grid;
  grid-template-columns: 30vw 30vw 30vw;
  grid-template-rows: 20vh 20vh 20vh;
  grid-row-gap: 10vh;
  grid-column-gap: 2vw;
  animation: slow-appear 1.4s;
}

@keyframes slow-appear {
  from {
    opacity: 0;
    transform: scale(0.7, 0.7);
  }
  to {
    opacity: 1;
  }
}
.posters {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 75%;
  grid-template-rows: repeat(6, 0.4fr 1fr);
  grid-auto-flow: dense;
  /* grid-row-gap: 20vh; */
  overflow-x: hidden;
}

.posters img {
  grid-row: span 2;
  margin-bottom: 20vh;
}

.posters h1 {
  padding-top: 3vh;
  align-self: start;
}

.posters p {
  grid-column: span 2;
  padding-left: 2vw;
  padding-right: 2vw;
}

.posters p:nth-of-type(odd),
h1:nth-of-type(odd) {
  grid-column: 2/4;
}
.posters p:nth-of-type(even),
h1:nth-of-type(even) {
  grid-column: 1/3;
}

.slider {
  opacity: 0;
  transition: opacity 400ms;
}

.slider.appear {
  opacity: 1;
}
.from-left {
  transform: translateX(-50%);
}
.from-right {
  transform: translateX(50%);
}

.from-left.appear,
.from-right.appear {
  transition: transform 250ms ease-in;
  transform: translateX(0);
  opacity: 1;
}
.gallery {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 75%;
  grid-auto-rows: 43vh;
  grid-gap: 2vh 1vw;
}

/* Picture gallery */
.chosen {
  /* height: 40vh; */
  width: 75%;
  /* height: 90vh; */
  /* background-color: #f5f5f5; */
  /* height: 80vh; */
}
.chosen .choose-item {
  display: none;
}

.chosen .active {
  display: block;
  max-height: 80vh;
  /* width: 100%; */
  margin: auto;
}

.collapsible {
  display: none;
}

.collapsible-active {
  display: block;
}

.collapse-button {
  cursor: pointer;
}

.collapse-button span:first-child {
  font-size: large;
  font-weight: bold;
  margin-top: 1vh;
  font-family: "PT Serif", serif;
  margin-bottom: 1vh;
}

.collapse-button .arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  padding: 10px;
  z-index: -1;
  margin-bottom: 3vh;
  transition: transform ease 0.2s;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.collapse-button .arrow.active {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.ref-image:hover {
  cursor: pointer;
}

.ref-image {
  background-size: cover;
  background-repeat: no-repeat;
}

/* Texts */

/* h2 {
  text-align: center;
  font-family: "Crimson Text", serif;
  font-weight: bold;
} */

h1 {
  color: #9b0707;
  text-align: center;
  font-family: "PT Serif", serif;
  font-weight: bold;
  font-stretch: extra-condensed;
  text-transform: uppercase;
  /* letter-spacing: 0.08em; */
}

h5 {
  color: #505050;
  font-family: "PT Serif", serif;
}

.text-center {
  text-align: center;
}

.subheading {
  color: black;
  font-weight: bold;
  text-align: left;
}

h4 {
  text-align: center;
  font-family: "PT Serif", serif;
}

h6 {
  font-family: "PT Serif", serif;
}

/* Business flowchart */

.space-evenly {
  display: flex;
  justify-content: space-evenly;
}

.space-evenly li {
  list-style: none;
  position: relative;
  padding-left: 0.7vw;
  z-index: -1;
}
.space-evenly li::before {
  content: "\25BA \0020";
  position: absolute;
  top: -0.5vh;
  left: -1vw;
  z-index: -1;
}

.arrow-before::before {
  content: ">";
  padding-right: 5px;
  /* position: absolute; */
  /* top: -0.5vh; */
  /* left: -1vw; */
  z-index: -1;
}

/* Performance Table */
.data-table {
  /* border: solid black 3px; */
  width: 98%;
  margin: auto;
  /* height: 100%; */
  font-family: "PT Serif", serif;
}

.data-table tr:nth-child(even) {
  background-color: #e5e5e5;
}

.data-table th {
  background-color: #961919;
  color: white;
}

.data-table td,
.data-table th {
  padding-top: 1vh;
  padding-bottom: 1vh;
  padding-left: 1vw;
  font-size: larger;
}

.downloadable-files {
  width: 100%;
  /* text-align: center; */
  /* margin-left: auto; */
}

.downloadable-files td:first-child {
  font-size: larger;
  padding-left: 8vw;
  padding-top: 1vh;
  padding-bottom: 1vh;
}

.downloadable-files a {
  /* text-decoration: none; */
  color: black;
}

.downloadable-files tr:nth-child(odd) {
  background-color: #e5e5e5;
}

.download-arrow {
  height: 3vh;
  /* /* font-size: larger; */
  /* border-radius: 50%; */
  padding-right: 4px;
  padding-left: 4px;
  /* zoom: 1; */
  /* filter: alpha(opacity=50); */
  /* opacity: 0.5; */
}

/* Contact Us */
.contact-table tr {
  border-bottom: solid 1px black;
}
.contact-table td,
.contact-table th {
  /* width: fit-content; */
  white-space: nowrap;
  padding-right: 2vw;
  text-align: center;
  padding-top: 2vh;
}

.contact-table th {
  /* text-decoration: underline; */
}

#enquiries {
  margin-left: 8vw;
}

#contact {
  flex-direction: row;
}

/* Footer */

.footer-top {
  width: 100%;
  text-align: center;
  background-color: #eeeeee;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  padding-left: 5vw;
  padding-right: 5vw;
  background-color: #f5f5f5;
}

#flogo {
  margin-left: 1vw;
  height: 2rem;
}

/* Phone view */

@media only screen and (max-width: 550px) {
  .imgcenter {
    grid-template-columns: 1fr;
    grid-auto-rows: 33.33vh;
  }

  #spinning-text {
    grid-column: 1;
    grid-row: 3;
  }

  .dropdown-item {
    white-space: normal;
  }

  /* Video */
  #myvideo {
    width: 96%;
  }

  .video-nav-item {
    height: 4.5px;
  }

  /* message */
  .img2 {
    height: auto;
    width: 75%;
  }

  .image-holder {
    display: flex;
    justify-content: center;
  }

  #arun {
    grid-row: 1;
  }

  #nivedan {
    grid-row: 3;
  }

  .text1 {
    width: 90%;
    text-align: justify;
    justify-self: center;
  }

  /*Directors */
  /* .directors > div:nth-child(odd) {
    transform: translate(-5vw);
    z-index: -1;
  }
  .directors > div:nth-child(even) {
    transform: translate(5vw);
    z-index: -1;
  } */

  /* grids */
  .quotes {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    width: 75%;
  }

  .directors {
    display: grid;
    grid-template-columns: 80vw;
    grid-auto-rows: 20vh;
    grid-row-gap: 1vh;
    /* grid-column-gap: 2vw; */
    /* animation: fade-in 1.4s; */
  }

  .posters {
    display: grid;
    grid-template-columns: 1fr;
    width: 75%;
    grid-template-rows: repeat(6, 0.15fr 0.5fr 1fr);
    /* grid-auto-flow: dense; */
    /* grid-row-gap: 20vh; */
    overflow-x: hidden;
  }

  .posters img {
    grid-row: span 1;
    margin-bottom: 1vh;
  }

  .posters h1 {
    padding-top: 3vh;
    align-self: start;
  }

  .posters p {
    /* grid-column: span 1; */
    padding-left: 0vw;
    padding-right: 0vw;
  }

  .posters p:nth-of-type(odd),
  h1:nth-of-type(odd) {
    grid-column: 1;
  }
  .posters p:nth-of-type(even),
  h1:nth-of-type(even) {
    grid-column: 1;
  }

  .posters img:nth-of-type(1) {
    grid-row-start: 3;
  }
  .posters img:nth-of-type(2) {
    grid-row-start: 6;
  }
  .posters img:nth-of-type(3) {
    grid-row-start: 9;
  }
  .posters img:nth-of-type(4) {
    grid-row-start: 12;
  }
  .posters img:nth-of-type(5) {
    grid-row-start: 15;
  }
  .posters img:nth-of-type(6) {
    grid-row-start: 18;
  }
  /* picture gallery */
  #hammonds {
    text-align: left;
    transform: translateX(-2vw);
    z-index: -5;
    position: relative;
  }

  .space-evenly li::before {
    content: "\25BA \0020";
    position: absolute;
    top: -0.5vh;
    left: -3vw;
    z-index: -1;
  }

  .gallery {
    display: grid;
    grid-template-columns: 1fr;
    width: 75%;
    grid-auto-rows: 33vh;
    /* grid-gap: 2vh 1vw; */
  }

  .collapse-button span:first-child {
    font-size: x-small;
    font-weight: bold;
    margin-top: 1vh;
    font-family: "PT Serif", serif;
    margin-bottom: 1vh;
  }

  .collapse-button .arrow {
    border: solid black;
    border-width: 0 1.5px 1.5px 0;
    padding: 5px;
    z-index: -1;
    margin-bottom: 3vh;
    transition: transform ease 0.2s;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }

  /* performance table */

  .data-table {
    /* border: solid black 3px; */
    width: 98%;
    font-size: 5px;
    font-family: "PT Serif", serif;
  }

  .data-table tr:nth-child(even) {
    background-color: #e5e5e5;
  }

  .data-table th {
    background-color: #961919;
    color: white;
  }

  .data-table td,
  th {
    padding-top: 1vh;
    padding-bottom: 1vh;
    padding-left: 1vw;
    font-size: larger;
  }

  .contact-table {
    font-size: 10px;
    margin: auto;
    /* width: 98%; */
  }

  /* texts */
  h1 {
    font-size: x-large;
    color: #9b0707;
  }

  h4 {
    font-size: large;
    font-weight: bold;
  }

  h6 {
    font-size: small;
  }

  /* contact us */
  #contact {
    flex-direction: column;
    text-align: center;
  }

  #enquiries {
    margin-left: 0;
  }
  /* Footer */

  .footer-top,
  .footer-bottom {
    font-size: x-small;
  }

  #flogo {
    height: 1.5rem;
  }

  .footer-bottom {
    padding-left: 0%;
    padding-right: 2vw;
  }

  .footer-bottom span {
    margin: auto;
  }
}

/* Added from CS50 */

main img {
  /* constrain images on small screens */
  max-width: 100%;
}
/* Gallery  */

/* .message {
  height: 30vh;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-left: 8%;
  margin-right: 8%;
}

.m-img {
  width: auto;
  border: 3px solid #505050;
  padding-left: 0.7vw;
  padding-right: 0.7vw;
  padding-top: 1vh;
  height: 35vh;
}
*/

/* .static {
  position: static;
}

.carousel {
  width: 75%;
  box-shadow: 0px 0px 30px 2px #000000;
} */

/* .gallery {
  box-shadow: 0px 0px 30px 2px #580505;
} */
