{% extends "layout.html" %} {% block title %} BSL:Policies {% endblock %} {%
block main %}
<h1 class="red" id="board">Board of Directors</h1>
<div style="padding-top: 2.5vw;"></div>

<div class="center">
  <div class="directors">
    <div class="radial-gradient">
      Arun Churiwal <br />
      Mandawa Shikhar <br />
      151, Sarat Bose Road, <br />
      KOLKATA 700 026.
    </div>
    <div class="radial-gradient">
      Ravi Jhunjhunwala <br />
      63, Friends Colony (East) <br />
      NEW DELHI 110 025.
    </div>

    <div class="radial-gradient">
      Nivedan Churiwal <br />
      Mandawa Shikhar <br />
      151, Sarat Bose Road, <br />
      KOLKATA 700 026.
    </div>
    <div class="radial-gradient">
      Sushil Jhunjhunwala <br />
      M/s. La Opala R.G. Limited <br />
      Chitrakoot, 10th Floor, 230-A, J.C. Bose Road, <br />
      KOLKATA 700 020.
    </div>
    <div class="radial-gradient">
      Shekhar Agarwal, <br />
      7 Sadhna Enclave <br />
      NEW DELHI 110 017.
    </div>
    <div class="radial-gradient">
      Mrs. Abhilasha Mimani <br />
      Suraj Sadan, <br />
      26/3, New Palasia <br />
      Indore-452001, M.P.
    </div>
    <div class="radial-gradient">
      Jagdish Chandra Laddha <br />
      37, Kamla Enclave, <br />
      Chittorgarh Road, <br />
      Bhilwara 311001
    </div>
    <div class="radial-gradient">
      A.N. Choudhary <br />
      8-C, Alipore Road, 4th Floor, <br />
      KOLKATA 700 027.
    </div>
    <div class="radial-gradient">
      Giriraj Prasad Singhal <br />
      E-5, Shastri Nagar, <br />
      Bhilwara-311001 <br />
      (Rajasthan)
    </div>
  </div>
</div>
{% endblock %}
