{% extends "layout.html" %} {% block title %} BSL: Our Businesses {% endblock %}
{% block main %}

<h1 id="suitings" class="red">Suitings</h1>
<div style="padding-top: 1vw; padding-bottom: 1vw"></div>
<div class="space-evenly">
  <div>
    <h4>BSL Range</h4>
    <ul>
      <li>
        <h6>Fibre dyed suitings</h6>
      </li>
      <li>
        <h6>Piece dyed suitings</h6>
      </li>
      <li>
        <h6>Uniform Fabrics</h6>
      </li>
      <li>
        <h6>P/V Fibre dyed suitings</h6>
      </li>
      <li>
        <h6>Combos</h6>
      </li>
    </ul>
  </div>
  <div>
    <ul>
      <h4 id="hammonds">Geoffrey Hammonds</h4>
      <li>
        <h6>Premium poly wool suitings</h6>
      </li>
      <li>
        <h6>Pure wool fabrics</h6>
      </li>
      <li>
        <h6>Wool cashmere fabrics</h6>
      </li>
      <li>
        <h6>Premium suit lengths</h6>
      </li>
    </ul>
  </div>
</div>
<div id="ref-suitings" style="padding-top: 1vw; padding-bottom: 1vw"></div>
<div class="center">
  <div class="chosen" data-display="ref-suitings">
    <img
      data-source="/static/images/fibredyed/f-220200626050923_SNEH5485.JPG"
      class="choose-item"
      id="sg1"
    />
    <img
      data-source="/static/images/premiumpwsuitings/f-20200626011032_SNEH5376.JPG"
      class="choose-item"
      id="sg2"
    />
    <img
      data-source="/static/images/premiumpwsuitings/f-20200626051657_SNEH5489.JPG"
      class="choose-item"
      id="sg3"
    />
    <img
      data-source="/static/images/premiumpwsuitings/f-220200626050041_SNEH5477.JPG"
      class="choose-item"
      id="sg4"
    />
    <img
      data-source="/static/images/premiumsuitlengths/f-20200626045331_SNEH5474.JPG"
      class="choose-item"
      id="sg5"
    />
    <img
      src="/static/images/premiumsuitlengths/f-20200626045636_SNEH5476.JPG"
      class="choose-item active"
      id="sg6"
    />
    <div id="first_clone"></div>
  </div>
</div>
<div class="vertical-center collapse-button">
  <span>View All Images</span>
  <span class="arrow"></span>
</div>
<div class="collapsible">
  <div class="center">
    <div class="gallery">
      <div
        style="
          background-image: url(static/images/fibredyed/f-220200626050923_SNEH5485.JPG);
        "
        class="ref-image"
        data-reference="sg1"
      ></div>
      <div
        style="
          background-image: url(/static/images/premiumpwsuitings/f-20200626011032_SNEH5376.JPG);
        "
        class="ref-image"
        data-reference="sg2"
      ></div>
      <div
        data-RefSource="/static/images/premiumpwsuitings/f-20200626051657_SNEH5489.JPG"
        class="ref-image"
        data-reference="sg3"
      ></div>
      <div
        data-RefSource="/static/images/premiumpwsuitings/f-220200626050041_SNEH5477.JPG"
        class="ref-image"
        data-reference="sg4"
      ></div>
      <div
        data-RefSource="/static/images/premiumsuitlengths/f-20200626045331_SNEH5474.JPG"
        class="ref-image"
        data-reference="sg5"
      ></div>
      <div
        data-RefSource="/static/images/premiumsuitlengths/f-20200626045636_SNEH5476.JPG"
        class="ref-image"
        data-reference="sg6"
      ></div>
    </div>
  </div>
</div>
<div style="padding-top: 1vw; padding-bottom: 1vw"></div>

<h1 class="red" id="furnishings">Furnishings</h1>
<div style="padding-top: 1vw; padding-bottom: 1vw"></div>
<div id="furnishing-ref" class="text-center">
  <h4>Drapery</h4>
  <h4>Upholstery</h4>
  <h4>Silk Fabrics</h4>
</div>
<div style="padding-top: 1vw; padding-bottom: 1vw"></div>
<div class="center">
  <div class="chosen" data-display="furnishing-ref">
    <img
      class="choose-item"
      id="fb1"
      data-source="/static/images/drapery/f-20200626032613_SNEH5439.JPG
      "
    />
    <img
      class="choose-item"
      id="fb2"
      data-source="/static/images/drapery/f-20200626043521_SNEH5457.JPG
      "
    />
    <img
      class="choose-item"
      id="fb3"
      data-source="static\images\fibredyed\IMG_20190110_134507.jpg
      "
    />
    <img
      class="choose-item"
      id="fb4"
      data-source="/static/images/drapery/R20200627034507_SNEH5510.JPG
      "
    />
    <img
      class="choose-item"
      id="fb5"
      data-source="static\images\fibredyed\IMG-20200107-WA0032.jpg
      "
    />
    <img
      class="choose-item"
      id="fb6"
      data-source="/static/images/furnishing/TEXTURE1.jpg
      "
    />
    <img
      class="choose-item"
      id="fb7"
      data-source="/static/images/furnishing/JACQUARDS1.JPG
      "
    />
    <img
      class="choose-item active"
      id="fb8"
      src="static\images\fibredyed\post7.jpeg
      "
    />
    <img
      class="choose-item"
      id="fb9"
      data-source="/static/images/furnishing/Organic.jpeg
      "
    />
    <img
      class="choose-item"
      id="fb10"
      data-source="/static/images/furnishing/PLAINS.jpg
      "
    />
    <img
      class="choose-item"
      id="fb11"
      data-source="/static/images/furnishing/Catalog.jpg
      "
    />
    <img
      class="choose-item"
      id="fb12"
      data-source="/static/images/upholstery/R20200627044552_SNEH5534.JPG
      "
    />
    <img
      class="choose-item"
      id="fb13"
      data-source="/static/images/upholstery/R20200627054219_SNEH5562.JPG
      "
    />
    <img
      class="choose-item"
      id="fb14"
      data-source="/static/images/furnishing/JACQUARDS2.jpg"
    />
    <img
      class="choose-item"
      id="fb15"
      data-source="/static/images/furnishing/READY_PACKS.jpg
      "
    />
    <img
      class="choose-item"
      id="fb16"
      data-source="/static/images/furnishing/Silk_Jacq.jpeg"
    />
    <div id="first_clone"></div>
  </div>
</div>
<div class="vertical-center collapse-button">
  <span>View All Images</span>
  <span class="arrow"></span>
</div>
<div class="collapsible">
  <div class="center">
    <div class="gallery">
      <div
        class="ref-image"
        data-reference="fb1"
        style="
          background-image: url(/static/images/drapery/f-20200626032613_SNEH5439.JPG);
        "
      ></div>
      <div
        class="ref-image"
        data-reference="fb2"
        style="
          background-image: url(/static/images/drapery/f-20200626043521_SNEH5457.JPG);
        "
        ;
      ></div>
      <div
        class="ref-image"
        data-reference="fb6"
        data-RefSource="/static/images/furnishing/TEXTURE1.jpg
        "
      ></div>
      <div
        class="ref-image"
        data-reference="fb9"
        data-RefSource="/static/images/furnishing/Organic.jpeg"
      ></div>
      <div
        class="ref-image"
        data-reference="fb10"
        data-RefSource="/static/images/furnishing/PLAINS.jpg"
      ></div>
      <div
        class="ref-image"
        data-reference="fb15"
        data-RefSource="/static/images/furnishing/READY_PACKS.jpg
          "
      ></div>
      <div
        class="ref-image"
        data-reference="fb16"
        data-RefSource="/static/images/furnishing/Silk_Jacq.jpeg"
      ></div>
      <div
        class="ref-image"
        data-reference="fb3"
        data-RefSource="static/images/fibredyed/IMG_20190110_134507.jpg"
      ></div>
      <div
        class="ref-image"
        data-reference="fb4"
        data-RefSource="/static/images/drapery/R20200627034507_SNEH5510.JPG"
      ></div>
      <div
        class="ref-image"
        data-reference="fb5"
        data-RefSource="static/images/fibredyed/IMG-20200107-WA0032.jpg"
      ></div>
      <div
        class="ref-image"
        data-reference="fb7"
        data-RefSource="/static/images/furnishing/JACQUARDS1.jpg"
      ></div>
      <div
        class="ref-image"
        data-RefSource="static/images/fibredyed/post7.jpeg"
        data-reference="fb8"
      ></div>
      <div
        class="ref-image"
        data-reference="fb11"
        data-RefSource="/static/images/furnishing/Catalog.jpg"
      ></div>
      <div
        class="ref-image"
        data-reference="fb12"
        data-RefSource="/static/images/upholstery/R20200627044552_SNEH5534.JPG"
      ></div>
      <div
        class="ref-image"
        data-reference="fb13"
        data-RefSource="/static/images/upholstery/R20200627054219_SNEH5562.JPG"
      ></div>
      <div
        class="ref-image"
        data-reference="fb14"
        data-RefSource="/static/images/furnishing/JACQUARDS2.jpg"
      ></div>
    </div>
  </div>
</div>
<div style="padding-bottom: 1vw; padding-top: 1vw"></div>

<h1 class="red" id="yarns">Yarns</h1>
<div style="padding-bottom: 1vw; padding-top: 1vw"></div>
<h4>PV Yarns</h4>
<h4>PW Yarns</h4>
<h4>Vortex</h4>
<div id="yarns-ref" style="padding-top: 1vw; padding-bottom: 1vw"></div>
<div class="center">
  <div class="chosen" data-display="yarns-ref">
    <img
      class="choose-item active"
      id="yb1"
      src="static\images\yarn\20200626000529_SNEH5334.JPG"
    />
    <img
      class="choose-item"
      id="yb2"
      data-source="static\images\yarn\20200626000643_SNEH5336-1.JPG"
    />
    <div id="first_clone"></div>
  </div>
</div>
<div class="vertical-center collapse-button">
  <span>View All Images</span>
  <span class="arrow"></span>
</div>
<div class="collapsible">
  <div class="center">
    <div class="gallery">
      <div
        class="ref-image"
        data-reference="yb1"
        style="
          background-image: url(static/images/yarn/20200626000529_SNEH5334.JPG);
        "
      ></div>
      <div
        class="ref-image"
        data-reference="yb2"
        style="
          background-image: url(static/images/yarn/20200626000643_SNEH5336-1.JPG);
        "
      ></div>
    </div>
  </div>
</div>

{% endblock %}
