{% extends "layout.html" %} {% block title %} BSL: Our Businesses {% endblock %}
{% block main %}

<h2 id="suitings">Suitings</h2>
<div style="padding-top: 1vw; padding-bottom: 1vw;"></div>
<div class="space-between">
  <div>
    <h4>BSL Range</h4>
    <ul>
      <li>
        <h6>Fibre dyed suitings</h6>
      </li>
      <li>
        <h6>Piece dyed suitings</h6>
      </li>
      <li>
        <h6>Uniform Fabrics</h6>
      </li>
      <li>
        <h6>P/V Fibre dyed suitings</h6>
      </li>
      <li>
        <h6>Combos</h6>
      </li>
    </ul>
  </div>
  <div>
    <ul>
      <h4>Geoffrey Hammonds</h4>
      <li>
        <h6>Premium poly wool suitings</h6>
      </li>
      <li>
        <h6>Pure wool fabrics</h6>
      </li>
      <li>
        <h6>Wool cashmere fabrics</h6>
      </li>
      <li>
        <h6>Premium suit lengths</h6>
      </li>
    </ul>
  </div>
</div>
<div id="ref-suitings" style="padding-top: 1vw; padding-bottom: 1vw;"></div>
<div class="center">
  <div class="chosen" data-display="ref-suitings">
    <img
      src="/static/images/fibredyed/f-220200626050923_SNEH5485.JPG"
      class="choose-item"
      id="sg1"
    />
    <img
      src="/static/images/premiumpwsuitings/f-20200626011032_SNEH5376.JPG"
      class="choose-item"
      id="sg2"
    />
    <img
      src="/static/images/premiumpwsuitings/f-20200626051657_SNEH5489.JPG"
      class="choose-item"
      id="sg3"
    />
    <img
      src="/static/images/premiumpwsuitings/f-220200626050041_SNEH5477.JPG"
      class="choose-item"
      id="sg4"
    />
    <img
      src="/static/images/premiumsuitlengths/f-20200626045331_SNEH5474.JPG"
      class="choose-item"
      id="sg5"
    />
    <img
      src="/static/images/premiumsuitlengths/f-20200626045636_SNEH5476.JPG"
      class="choose-item active"
      id="sg6"
    />
  </div>
</div>
<div class="vertical-center collapse-button">
  <span>View All Images</span>
  <span class="arrow"></span>
</div>
<div class="collapsible">
  <div class="center">
    <div class="gallery">
      <div
        style="
          background-image: url(static/images/fibredyed/f-220200626050923_SNEH5485.JPG);
        "
        ;
        class="ref-image"
        data-reference="sg1"
      ></div>
      <div
        style="
          background-image: url(/static/images/premiumpwsuitings/f-20200626011032_SNEH5376.JPG);
        "
        class="ref-image"
        data-reference="sg2"
      ></div>
      <div
        style="
          background-image: url(/static/images/premiumpwsuitings/f-20200626051657_SNEH5489.JPG);
        "
        class="ref-image"
        data-reference="sg3"
      ></div>
      <div
        style="
          background-image: url(/static/images/premiumpwsuitings/f-220200626050041_SNEH5477.JPG);
        "
        class="ref-image"
        data-reference="sg4"
      ></div>
      <div
        style="
          background-image: url(/static/images/premiumsuitlengths/f-20200626045331_SNEH5474.JPG);
        "
        class="ref-image"
        data-reference="sg5"
      ></div>
      <div
        style="
          background-image: url(/static/images/premiumsuitlengths/f-20200626045636_SNEH5476.JPG);
        "
        class="ref-image"
        data-reference="sg6"
      ></div>
    </div>
  </div>
</div>
<div style="padding-top: 1vw; padding-bottom: 1vw;"></div>

<h2 id="furnishings">Furnishings</h2>
<div style="padding-top: 1vw; padding-bottom: 1vw;"></div>
<div id="furnishing-ref" class="text-center">
  <h4>Drapery</h4>
  <h4>Upholstery</h4>
  <h4>Silk Fabrics</h4>
</div>
<div style="padding-top: 1vw; padding-bottom: 1vw;"></div>
<div class="center">
  <div class="chosen" data-display="furnishing-ref">
    <img
      class="choose-item"
      id="fb1"
      src="/static/images/drapery/f-20200626032613_SNEH5439.JPG
      "
      ;
    />
    <img
      class="choose-item"
      id="fb2"
      src="/static/images/drapery/f-20200626043521_SNEH5457.JPG
      "
      ;
    />
    <img
      class="choose-item"
      id="fb3"
      src="/static/images/drapery/R20200627033629_SNEH5508.JPG
      "
      ;
    />
    <img
      class="choose-item"
      id="fb4"
      src="/static/images/drapery/R20200627034507_SNEH5510.JPG
      "
      ;
    />
    <img
      class="choose-item"
      id="fb5"
      src="/static/images/drapery/R20200627035044_SNEH5511.JPG
      "
      ;
    />
    <img
      class="choose-item"
      id="fb6"
      src="/static/images/drapery/R20200627042301_SNEH5528.JPG
      "
      ;
    />
    <img
      class="choose-item"
      id="fb7"
      src="/static/images/drapery/R20200627051728_SNEH5558.JPG
      "
      ;
    />
    <img
      class="choose-item"
      id="fb8"
      src="/static/images/upholstery/f-20200626034928_SNEH5447.JPG
      "
      ;
    />
    <img
      class="choose-item"
      id="fb9"
      src="/static/images/upholstery/f-20200626041445_SNEH5453.JPG
      "
      ;
    />
    <img
      class="choose-item"
      id="fb10"
      src="/static/images/upholstery/R20200627041408_SNEH5524.JPG
      "
      ;
    />
    <img
      class="choose-item"
      id="fb11"
      src="/static/images/upholstery/R20200627041655_SNEH5525.JPG
      "
      ;
    />
    <img
      class="choose-item"
      id="fb12"
      src="/static/images/upholstery/R20200627044552_SNEH5534.JPG
      "
      ;
    />
    <img
      class="choose-item"
      id="fb13"
      src="/static/images/upholstery/R20200627054219_SNEH5562.JPG
      "
      ;
    />
    <img
      class="choose-item active"
      id="fb14"
      src="/static/images/luxurysilk/Ff-20200625234249_SNEH5316.jpg
      "
      ;
    />
    <img
      class="choose-item"
      id="fb15"
      src="/static/images/luxurysilk/R20200627043211_SNEH5531.JPG
      "
      ;
    />
    <img
      class="choose-item"
      id="fb16"
      src="/static/images/luxurysilk/R20200627043557_SNEH5533.JPG
      "
      ;
    />
  </div>
</div>
<div class="vertical-center collapse-button">
  <span>View All Images</span>
  <span class="arrow"></span>
</div>
<div class="collapsible">
  <div class="center">
    <div class="gallery">
      <div
        class="ref-image"
        data-reference="fb1"
        style="
          background-image: url(/static/images/drapery/f-20200626032613_SNEH5439.JPG);
        "
        ;
      ></div>
      <div
        class="ref-image"
        data-reference="fb2"
        style="
          background-image: url(/static/images/drapery/f-20200626043521_SNEH5457.JPG);
        "
        ;
      ></div>
      <div
        class="ref-image"
        data-reference="fb3"
        style="
          background-image: url(/static/images/drapery/R20200627033629_SNEH5508.JPG);
        "
        ;
      ></div>
      <div
        class="ref-image"
        data-reference="fb4"
        style="
          background-image: url(/static/images/drapery/R20200627034507_SNEH5510.JPG);
        "
        ;
      ></div>
      <div
        class="ref-image"
        data-reference="fb5"
        style="
          background-image: url(/static/images/drapery/R20200627035044_SNEH5511.JPG);
        "
        ;
      ></div>
      <div
        class="ref-image"
        data-reference="fb6"
        style="
          background-image: url(/static/images/drapery/R20200627042301_SNEH5528.JPG);
        "
        ;
      ></div>
      <div
        class="ref-image"
        data-reference="fb7"
        style="
          background-image: url(/static/images/drapery/R20200627051728_SNEH5558.JPG);
        "
        ;
      ></div>
      <div
        class="ref-image"
        data-reference="fb8"
        style="
          background-image: url(/static/images/upholstery/f-20200626034928_SNEH5447.JPG);
        "
        ;
      ></div>
      <div
        class="ref-image"
        data-reference="fb9"
        style="
          background-image: url(/static/images/upholstery/f-20200626041445_SNEH5453.JPG);
        "
        ;
      ></div>
      <div
        class="ref-image"
        data-reference="fb10"
        style="
          background-image: url(/static/images/upholstery/R20200627041408_SNEH5524.JPG);
        "
        ;
      ></div>
      <div
        class="ref-image"
        data-reference="fb11"
        style="
          background-image: url(/static/images/upholstery/R20200627041655_SNEH5525.JPG);
        "
        ;
      ></div>
      <div
        class="ref-image"
        data-reference="fb12"
        style="
          background-image: url(/static/images/upholstery/R20200627044552_SNEH5534.JPG);
        "
        ;
      ></div>
      <div
        class="ref-image"
        data-reference="fb13"
        style="
          background-image: url(/static/images/upholstery/R20200627054219_SNEH5562.JPG);
        "
        ;
      ></div>
      <div
        class="ref-image"
        data-reference="fb14"
        style="
          background-image: url(/static/images/luxurysilk/Ff-20200625234249_SNEH5316.jpg);
        "
        ;
      ></div>
      <div
        class="ref-image"
        data-reference="fb15"
        style="
          background-image: url(/static/images/luxurysilk/R20200627043211_SNEH5531.JPG);
        "
        ;
      ></div>
      <div
        class="ref-image"
        data-reference="fb16"
        style="
          background-image: url(/static/images/luxurysilk/R20200627043557_SNEH5533.JPG);
        "
        ;
      ></div>
    </div>
  </div>
</div>
<div style="padding-bottom: 1vw; padding-top: 10vw;"></div>

<h2 id="yarns">Yarns</h2>
<div style="padding-bottom: 1vw; padding-top: 1vw;"></div>
<h4>PV Yarns</h4>
<h4>PW</h4>
<h4>Cashmere</h4>
<h4>Luxury Silk</h4>
<h4>Vortex</h4>
<div id="yarns-ref" style="padding-top: 1vw; padding-bottom: 1vw;"></div>
<div class="center">
  <div class="chosen" data-display="yarns-ref">
    <img class="choose-item active" id="yb1" src="/static/images/s5.JPG" />
    <img class="choose-item" id="yb2" src="/static/images/s7.JPG" />
  </div>
</div>
<div class="vertical-center collapse-button">
  <span>View All Images</span>
  <span class="arrow"></span>
</div>
<div class="collapsible">
  <div class="center">
    <div class="gallery">
      <div
        class="ref-image"
        data-reference="yb1"
        style="background-image: url(/static/images/s5.JPG);"
      ></div>
      <div
        class="ref-image"
        data-reference="yb2"
        style="background-image: url(/static/images/s7.JPG);"
      ></div>
    </div>
  </div>
</div>

{% endblock %}
