{% extends "layout.html" %} {% block title %} BSL: Our Businesses {% endblock %}
{% block main %}

<h2 id="suitings">Suitings</h2>
<h4>BSL Range</h4>
<h6>Fibre dyed suitings</h6>
<div class="imgcenter">
  <img
    src="\static\images\fibre dyed\f-220200626050923_SNEH5485.JPG"
    class="gallery"
  />
</div>
<h6>Piece dyed suitings</h6>
<div class="imgcenter"></div>
<h6>Uniform Fabrics</h6>
<div class="imgcenter"></div>
<h6>P/V Fibre dyed suitings</h6>
<div class="imgcenter"></div>
<h6>Combos</h6>
<div class="imgcenter"></div>
<h4>Geoffrey Hammonds</h4>
<h6>Premium poly wool suitings</h6>
<div class="imgcenter">
  <img
    src="\static\images\premium pw suitings\f-20200626011032_SNEH5376.JPG"
    class="gallery"
  />
  <img
    src="\static\images\premium pw suitings\f-20200626051657_SNEH5489.JPG"
    class="gallery"
  />
  <img
    src="\static\images\premium pw suitings\f-220200626050041_SNEH5477.JPG"
    class="gallery"
  />
</div>
<h6>Pure wool fabrics</h6>
<div class="imgcenter"></div>
<h6>Wool cashmere fabrics</h6>
<div class="imgcenter"></div>
<h6>Premium suit lengths</h6>
<div class="imgcenter">
  <img
    src="\static\images\premium suit lengths\f-20200626045331_SNEH5474.JPG"
    class="gallery"
  />
  <img
    src="\static\images\premium suit lengths\f-20200626045636_SNEH5476.JPG"
    class="gallery"
  />
</div>
<div style="padding-top: 1vw; padding-bottom: 1vw;"></div>

<h2 id="furnishings">Furnishings</h2>
<h4>Drapery</h4>
<div class="imgcenter">
  <img
    class="gallery"
    src="\static\images\drapery\f-20200626032613_SNEH5439.JPG"
  />
  <img
    class="gallery"
    src="\static\images\drapery\f-20200626043521_SNEH5457.JPG"
  />
  <img
    class="gallery"
    src="\static\images\drapery\R20200627033629_SNEH5508.JPG"
  />
  <img
    class="gallery"
    src="\static\images\drapery\R20200627034507_SNEH5510.JPG"
  />
  <img
    class="gallery"
    src="\static\images\drapery\R20200627035044_SNEH5511.JPG"
  />
  <img
    class="gallery"
    src="\static\images\drapery\R20200627042301_SNEH5528.JPG"
  />
  <img
    class="gallery"
    src="\static\images\drapery\R20200627051728_SNEH5558.JPG"
  />
</div>

<h4>Upholstery</h4>
<div class="imgcenter">
  <img
    class="gallery"
    src="\static\images\upholstery\f-20200626034928_SNEH5447.JPG"
  />
  <img
    class="gallery"
    src="\static\images\upholstery\f-20200626041445_SNEH5453.JPG"
  />
  <img
    class="gallery"
    src="\static\images\upholstery\R20200627041408_SNEH5524.JPG"
  />
  <img
    class="gallery"
    src="\static\images\upholstery\R20200627041655_SNEH5525.JPG"
  />
  <img
    class="gallery"
    src="\static\images\upholstery\R20200627044552_SNEH5534.JPG"
  />
  <img
    class="gallery"
    src="\static\images\upholstery\R20200627054219_SNEH5562.JPG"
  />
</div>

<h4>Silk Fabrics</h4>

<div class="imgcenter">
  <img
    class="gallery"
    src="\static\images\luxury silk\Ff-20200625234249_SNEH5316.jpg"
  />
  <img
    class="gallery"
    src="\static\images\luxury silk\R20200627043211_SNEH5531.JPG"
  />
  <img
    class="gallery"
    src="\static\images\luxury silk\R20200627043557_SNEH5533.JPG"
  />
</div>
<div style="padding-bottom: 1vw; padding-top: 10vw;"></div>

<h2 id="yarns">Yarns</h2>
<h4>PV Yarns</h4>
<h4>PW</h4>
<h4>Cashmere</h4>
<h4>Luxury Silk Vortex</h4>
<div style="padding-top: 1vw; padding-bottom: 1vw;"></div>
<div class="imgcenter">
  <img class="gallery" src="/static/images/s5.JPG" />
  <img class="gallery" src="/static/images/s7.JPG" />
</div>

{% endblock %}
