{% extends "layout.html" %} {% block title %} BSL:Contact Us {% endblock %} {%
block main %}
<h1>Contact Us</h1>
<div style="padding-top: 5vh"></div>
<div id="contact" class="matter-align-center center">
  <div id="contact-details">
    <table>
      <tr>
        <td>
          <b> Head office:</b>
        </td>
        <td>
          BSL Limited, <br />
          MANDAWA SHIKAR, <br />
          151, Sarat Bose Road, Kolkata <br />
          (WB)-700026, INDIA
        </td>
      </tr>
      <tr>
        <td>
          <b>Registered Office: </b>
        </td>
        <td>
          BSL Limited, <br />
          26 Industrial Area, Gandhi Nagar, <br />
          Bhilwara-311001, Rajasthan, INDIA
        </td>
      </tr>
      <tr>
        <td>
          <b> Phone :</b>
        </td>
        <td><a href="tel:01482-246801-06">01482-246801-06</a></td>
      </tr>
      <tr>
        <td>
          <b> Fax : </b>
        </td>
        <td><a href="01482-246807">01482-246807/246157</a></td>
      </tr>
      <tr>
        <td>
          <b> Mail : </b>
        </td>
        <td>exports@bslltd.com</td>
      </tr>
      <tr>
        <td>
          <b> Corporate Identification Number (CIN) : </b>
        </td>
        <td>L24302RJ1970PLC002266</td>
      </tr>
      <tr>
        <td>
          <b> Plant:</b>
        </td>
        <td>
          BSL Limited, <br />
          Post Box: 16, Chittorgarh Road Mandpam, <br />
          Bhilwara <br />
          (RAJ), INDIA <br />
        </td>
      </tr>
      <tr>
        <td>
          <b>Mumbai Office:</b>
        </td>
        <td>
          BSL LTD., <br />
          Solaris Building No..2, 4th Floor, <br />
          Office No.: 410 & 412; <br />
          Opposite L&T Gate No.6; Saki Vihar Road, Andheri (East), <br />
          Mumbai - 400 072. <br />
          Phone: <a href="tel:+91 22 28471250">+91 22 28471250</a>,
          <a href="tel:+91 22 28471252">+91 22 28471252</a> <br />
        </td>
      </tr>
      <tr>
        <td>
          <b>Bhilwara City Office: </b>
        </td>
        <td>
          BSL Limited <br />
          26, Industrial Area Gandhi Nagar <br />
          Bhilwara – 311001 <br />
          Rajasthan <br />
        </td>
      </tr>
      <tr>
        <td>
          <b>Delhi Office: </b>
        </td>
        <td>
          BSL Shoppee Bhilwara Bhawan <br />
          40 - 41Community Centre New Friends Colony <br />
          New Delhi – 110025 <br />
          Phone: <a href="tel:+91 11 26831491">+91 11 26831491</a>,
          <a href="tel:+91 9313005777">+91 9313005777</a>
        </td>
      </tr>
    </table>
  </div>
  <div style="padding-top: 10vh"></div>
  <div id="enquiries">
    <h4 style="font-weight: 900">For enquiries contact:</h4>
    <table class="contact-table">
      <tr>
        <th>Department</th>
        <th>Mail id</th>
        <th>Contact no</th>
      </tr>
      <tr>
        <td>Yarn business</td>
        <td>
          <a href="mailto:ashoksoni@bslsuitings.com"
            >ashoksoni@bslsuitings.com</a
          >
        </td>
        <td><a href="tel:+91 93523 23391">+91 93523 23391</a></td>
      </tr>
      <tr>
        <td>Export Suiting</td>
        <td>
          <a href="mailto:exports@bslsuitings.com">exports@bslsuitings.com</a>
        </td>
        <td><a href="tel:+91 98290 47802">+91 98290 47802</a></td>
      </tr>
      <tr>
        <td>Domestic Suiting</td>
        <td><a href="mailto:ravi@bslsuitings.com">ravi@bslsuitings.com</a></td>
        <td><a href="tel:+91 93521 11244">+91 93521 11244</a></td>
      </tr>
      <tr>
        <td>Furnishing Fabrics</td>
        <td>
          <a href="mailto:ashraff@bslsuitings.com">ashraff@bslsuitings.com</a>
        </td>
        <td><a href="tel:+91 79760 06830">+91 79760 06830</a></td>
      </tr>
    </table>
  </div>
</div>
<div style="padding-top: 13vh"></div>
{% endblock %}
