{% extends "layout.html" %} {% block title %} BSL:Contact Us {% endblock %} {%
block main %}
<h1>Contact Us</h1>
<div style="padding-top: 5vh;"></div>
<!-- <div class="matter-align-center" id="contact"> -->
<div id="contact" class="matter-align-center center">
  <div id="contact-details">
    <b> Head office:</b>BSL Limited, MANDAWA SHIKAR, 151, Sarat Bose Road,
    Kolkata (WB)-700026, INDIA <br />
    <b>Registered Office: </b>BSL Limited, 26 Industrial Area, Gandhi Nagar,
    Bhilwara-311001, Rajasthan, INDIA <br />
    <b> Phone :</b> 01482-246801-06, Fax : 01482-246807/246157, bail :
    exports@bslltd.com <br />
    <b> Corporate Identification Number (CIN) : </b>L24302RJ1970PLC002266
    <br />
    <b> Plant:</b> BSL Limited, Post Box: 16, Chittorgarh Road Mandpam, Bhilwara
    (RAJ), INDIA <br />
    <b>Mumbai Office:</b>
    BSL LTD., Solaris Building No..2, 4th Floor, Office No.: 410 & 412; Opposite
    L&T Gate No.6; Saki Vihar Road, Andheri (East), Mumbai - 400 072. Phone: +91
    22 28471250, +91 22 28471252 <br />
    <b>Bhilwara City Office: </b> BSL Limited 26, Industrial Area Gandhi Nagar
    Bhilwara – 311001 Rajasthan <br />
    <b>Delhi Office: </b> BSL Shoppee Bhilwara Bhawan 40 - 41Community Centre
    New Friends Colony New Delhi – 110025 Phone: +91 11 26831491, +91 9313005777
  </div>
  <div style="padding-top: 10vh;"></div>
  <div id="enquiries">
    <h4 style="font-weight: 900;">For enquiries contact:</h4>
    <table class="contact-table">
      <tr>
        <th>Department</th>
        <th>Mail id</th>
        <th>Contact no</th>
      </tr>
      <tr>
        <td>
          Yarn business
        </td>
        <td>
          ashoksoni@bslsuitings.com
        </td>
        <td>
          +91 93523 23391
        </td>
      </tr>
      <tr>
        <td>
          Export Suiting
        </td>
        <td>
          exports@bslsuitings.com
        </td>
        <td>
          +91 98290 47802
        </td>
      </tr>
      <tr>
        <td>
          Domestic Suiting
        </td>
        <td>
          ravi@bslsuitings.com
        </td>
        <td>
          +91 93521 11244
        </td>
      </tr>
      <tr>
        <td>
          Furnishing Fabrics
        </td>
        <td>
          ashraff@bslsuitings.com
        </td>
        <td>
          +91 79760 06830
        </td>
      </tr>
    </table>
  </div>
  <!-- </div> -->
</div>
<div style="padding-top: 13vh;"></div>
{% endblock %}
