{% extends "layout.html" %} {% block title %} BSL: Investor's Correspondence {%
endblock %} {% block main %}
<h1 class="red">Investor's Correspondence</h1>
<div style="padding-top: 5vh;"></div>

<div class="matter-align-center">
  <h4 class="subheading">
    Investor correspondence should be addressed to :
  </h4>
  <div style="padding-top: 3vh;"></div>
  <p>
    <b class="arrow-before">Registrar & Transfer Agent </b> <br />
    MCS Share Transfer Agent Limited, <br />
    F-65, Okhla Industrial Area, Phase I, <br />
    Okhla Industrial Area, Phase-I, <br />
    New Delhi: 110 020 <br />
    Phone No (s): 011-41406149-52, Fax No: 011-41709881, E-Mail:
    <a href="mailto:mcssta@rediffmail.com">mcssta@rediffmail.com.</a>
  </p>

  <div style="padding-top: 2.5vh;"></div>

  <p>
    <b class="arrow-before"
      >Contact Information for assisting and handling investor grievance and
      email address for Grievance Redressal:</b
    >
    <br />
    BSL Limited <br />
    Company Secretary <br />
    26, Industrial Area, Gandhi Nagar, Bhilwara-311001 (Rajasthan) <br />
    Email ID:
    <a href="mailto:accounts@bslsuitings.com">accounts@bslsuitings.com</a>
    <br />
    Contact No.: 01482-249101-102, 01482-245000
  </p>

  <div style="padding-top: 2.5vh;"></div>

  <p>
    <b class="arrow-before">Registered Office</b> <br />
    26, Industrial Area, Gandhi Nagar, Bhilwara-311001, Rajasthan, India
  </p>
  <p>
    <b class="arrow-before"
      >Key Managerial Personnel to determine materiality of an event or
      information</b
    >
    <br />
    Name: Shri Praveen Jain <br />
    Designation: President and Chief Financial Officer <br />
    Telephone: 01482-246801-806 <br />
    Fax: 01482-246807 <br />
    Email id:
    <a href="mailto:praveenjain@bslsuitings.com">praveenjain@bslsuitings.com</a>
  </p>
</div>
<div
  style="height: 0.3px; background-color: black; width: 95%; margin: auto;"
></div>
<div>
  <table class="downloadable-files">
    <tr style="background-color: white;">
      <td>
        <a
          target="_blank"
          rel="noopener noreferrer"
          href="static\PDF\revisedCompulsoryDematofPhysicalShares.pdf"
        >
          Compulsory Demat of Physical Shares
        </a>
      </td>
      <td>
        <a
          href="static\PDF\revisedCompulsoryDematofPhysicalShares.pdf"
          download
        >
          <img class="download-arrow" src="static\images\download_button.png" />
        </a>
      </td>
    </tr>
  </table>
</div>
{% endblock %}
