{% extends "layout.html" %} {% block title %} BSL: Investor's Correspondence {%
endblock %} {% block main %}
<h1>Investors Correspondence</h1>
<div style="padding-top: 5vh;"></div>

<div class="matter-align-center">
  <p>Investor correspondence should be addressed to :</p>
  <div style="padding-top: 5vh;"></div>
  <p>
    <b>Registrar & Transfer Agent </b> <br />
    MCS Share Transfer Agent Limited, <br />
    F-65, Okhla Industrial Area, Phase I, <br />
    Okhla Industrial Area, Phase-I, <br />
    New Delhi: 110 020 <br />
    Phone No (s): 011-41406149-52, Fax No: 011-41709881, E-Mail:
    <a href="mailto:mcssta@rediffmail.com">mcssta@rediffmail.com.</a>
  </p>

  <div style="padding-top: 2.5vh;"></div>

  <p>
    <b
      >Contact Information for assisting and handling investor grievance and
      email address for Grievance Redressal:</b
    >
    <br />
    BSL Limited <br />
    Company Secretary <br />
    26, Industrial Area, Gandhi Nagar, Bhilwara-311001 (Rajasthan) <br />
    Email ID:
    <a href="mailto:accounts@bslsuitings.com">accounts@bslsuitings.com</a>
    <br />
    Contact No.: 01482-249101-102, 01482-245000
  </p>

  <div style="padding-top: 2.5vh;"></div>

  <p>
    <b>Registered Office</b> <br />
    26, Industrial Area, Gandhi Nagar, Bhilwara-311001, Rajasthan, India
  </p>
  <p>
    <b
      >Key Managerial Personnel to determine materiality of an event or
      information</b
    >
    <br />
    Name: Shri Praveen Jain <br />
    Designation: President and Chief Financial Officer <br />
    Telephone: 01482-246801-806 <br />
    Fax: 01482-246807 <br />
    Email id:
    <a href="mailto:praveenjain@bslsuitings.com">praveenjain@bslsuitings.com</a>
  </p>
</div>
{% endblock %}
