{% extends "layout.html" %} {% block title %} BSL:Compliance Reports {% endblock
%} {% block main %}
<h1 id="message" style="color: #9b0707;">FROM THE CHAIRMAN AND MD'S DESK</h1>

<div style="padding-top: 5vw;"></div>

<div class="center">
  <div class="quotes">
    <div class="image-holder" id="arun">
      <img class="img2" src="/static/images/Arun.png" alt="Arun Churiwal" />
    </div>

    <div class="image-holder right" id="nivedan">
      <img
        class="img2"
        src="/static/images/Nivedan Churiwal (1).png"
        alt="Nivedan
    Churiwal"
      />
    </div>

    <div class="text1">
      <p>
        It takes a pool of talent, hard work and integrity to be the global best
        holistic textile company. There are requirements of constant innovations
        in products, peoples training, new technology adoptions and reducing
        wastage of natural resources to carve the niche of being the leading
        holistic textile company globally. We are constantly investing in
        technology and research and development with a single objective of being
        the best in product manufacturing and service. But all this with one
        core belief, 'People before Profits' and 'product innovation before
        prejudice'.
      </p>
    </div>
    <div class="text1 right">
      <p>
        "Dream big and work hard." I see BSL as a power house of excellence and
        with the hardwork and sincerity of the entire team and vision and
        strategy of the management, I have absolutely no doubt that in the
        coming years BSL will be the leader in both its segment of fabric
        business i.e. suiting's & furnishing, once again both in India and
        abroad.If the dream is clear, the plan is in place then the results
        shall certainly be there.
      </p>
    </div>
  </div>
</div>

{% endblock %}
