{% extends "layout.html" %} {% block title %} BSL Limited {% endblock %} {%
block main %}
<div id="video" class="center">
  <video id="myvideo" muted autoplay loop>
    <source src="/static/images/BSL 60s C2C_v2.mp4" type="video/mp4" />
    Your browser does not support the video.
  </video>
  <script>
    document.getElementById("myvideo").play();
  </script>
</div>

<div style="padding-top: 10vw;"></div>

<!-- MD and Chair message -->

<h1 id="message" style="color: #9b0707;">FROM THE CHAIRMEN'S DESK</h1>

<div style="padding-top: 5vw;"></div>

<div class="center">
  <div class="quotes">
    <div class="image-holder" id="arun">
      <img class="img2" src="/static/images/Arun.png" alt="Arun Churiwal" />
    </div>

    <div class="image-holder right" id="nivedan">
      <img
        class="img2"
        src="/static/images/Nivedan Churiwal (1).png"
        alt="Nivedan
    Churiwal"
      />
    </div>

    <div class="text1">
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Earum sint
        aliquid excepturi repellat magni nisi corrupti, sequi ut quasi cum animi
        a accusamus nihil? Voluptates distinctio beatae eos, maxime
        reprehenderit repudiandae omnis amet ad voluptas laborum! Eos officiis,
        vero enim quasi iure accusantium nostrum odit quia, qui laudantium,
        fugiat totam.
      </p>
    </div>
    <div class="text1 right">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur
        quis commodi rerum dolorem? Ipsa aspernatur voluptate consectetur sed
        aperiam neque porro voluptas provident exercitationem magni commodi
        omnis ea accusantium dolorum, illo voluptatum enim totam accusamus,
        perspiciatis soluta. Quo suscipit nulla temporibus eaque, vitae alias,
        praesentium non perspiciatis unde animi id.
      </p>
    </div>
  </div>
</div>

<!-- Board of Directors -->
<div style="padding-top: 5vw;"></div>

<h1 class="red" id="board">Board of Directors</h1>
<div style="padding-top: 2.5vw;"></div>

<div class="center">
  <div class="directors">
    <div class="radial-gradient">
      Arun Churiwal <br />
      Mandawa Shikhar <br />
      151, Sarat Bose Road, <br />
      KOLKATA 700 026.
    </div>
    <div class="radial-gradient">
      Ravi Jhunjhunwala <br />
      63, Friends Colony (East) <br />
      NEW DELHI 110 025.
    </div>

    <div class="radial-gradient">
      Nivedan Churiwal <br />
      Mandawa Shikhar <br />
      151, Sarat Bose Road, <br />
      KOLKATA 700 026.
    </div>
    <div class="radial-gradient">
      Sushil Jhunjhunwala <br />
      M/s. La Opala R.G. Limited <br />
      Chitrakoot, 10th Floor, 230-A, J.C. Bose Road, <br />
      KOLKATA 700 020.
    </div>
    <div class="radial-gradient">
      Shekhar Agarwal, <br />
      7 Sadhna Enclave <br />
      NEW DELHI 110 017.
    </div>
    <div class="radial-gradient">
      Mrs. Abhilasha Mimani <br />
      Suraj Sadan, <br />
      26/3, New Palasia <br />
      Indore-452001, M.P.
    </div>
    <div class="radial-gradient">
      Jagdish Chandra Laddha <br />
      37, Kamla Enclave, <br />
      Chittorgarh Road, <br />
      Bhilwara 311001
    </div>
    <div class="radial-gradient">
      A.N. Choudhary <br />
      8-C, Alipore Road, 4th Floor, <br />
      KOLKATA 700 027.
    </div>
    <div class="radial-gradient">
      Giriraj Prasad Singhal <br />
      E-5, Shastri Nagar, <br />
      Bhilwara-311001 <br />
      (Rajasthan)
    </div>

    <!-- <div class="message">
  <img
  class="m-img"
  src="/static/images/Arun.png"
  alt="Arun Churiwal"
  style="float: right; padding-left: 10px;"
  />
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi, sit,
    sequi velit iusto dignissimos impedit natus facere nam deleniti doloribus
    pariatur, eos alias delectus dolor qui modi distinctio? Eum, accusantium?
  </p>
</div>

<div style="padding-top: 5vw;"></div>

<div class="message">
  <img
    class="m-img"
    src="/static/images/Nivedan Churiwal (1).png"
    alt="Nivedan Churiwal"
    style="float: left; margin-right: 10px;"
  />
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id omnis provident
    suscipit nemo quia iste quaerat, nam nulla possimus quod rem eveniet
    sapiente aliquid laudantium vitae rerum! Ratione cum veniam illo voluptatum
    ad numquam et ex voluptate ullam architecto eaque quod incidunt, eligendi
    magnam ut odio ducimus earum inventore reprehenderit?
  </p>
</div>
 -->{% endblock %}
  </div>
</div>
