{% extends "layout.html" %} {% block title %} BSL Limited {% endblock %} {%
block main %}
<!-- <div style="padding-bottom: 3vh"></div> -->
<!-- <div
  style="
    height: 80vh;
    width: 95%;
    margin: auto;
    position: relative;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
      url(/static/images/spinning/FF-20200626000147_SNEH5332.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position-y: center;
  "
>
  <div style="position: absolute; top: 50%; transform: translateY(-65%)">
    <h1 style="text-shadow: 1px 1px 5px white; font-size: 80px">
      Welcome to BSL
    </h1>
    <div style="padding-bottom: 10vh"></div>
    <h4 style="color: white; width: 70%; margin: auto; font-size: xx-large">
      Pioneers in the fabric industry for last 50 years, we have created and
      curated the right fabric for your needs. Wear your elegance with style and
      do up your homes.
    </h4>
  </div>
  <img
    style="
      border: 1px solid white;
      border-radius: 5px;
      width: 70px;
      position: absolute;
      top: 10px;
      right: 10px;
    "
    src="/static/images/BSL_Logo.jpeg"
    alt="BSL Logo"
  />
  <div style="position: absolute; bottom: 5px; left: 5px; color: white">
    <h2>#LifeIsNotReadyMade</h2>
  </div>
</div> -->

<div style="margin-top: -6vh"></div>
<div id="video" class="center videoholder">
  <video class="videos active" id="myvideo" controls autoplay muted>
    <source src="/static/images/VID-20200728-WA0000.mp4" type="video/mp4" />
    Your browser does not support the video.
  </video>
  <div class="video-nav">
    <div
      id="first-element"
      class="video-nav-item nav-active"
      data-src="/static/images/VID-20200728-WA0000.mp4"
    ></div>
    <div
      class="video-nav-item"
      data-src="/static/images/VID-20190516-WA0013.mp4"
    ></div>
    <div
      class="video-nav-item"
      data-src="/static/images/BSL_30s_C2C_v2.mp4"
    ></div>
    <div
      class="video-nav-item"
      data-src="/static/images/VID-20200725-WA0018.mp4"
    ></div>
    <div id="first-clone"></div>
  </div>
</div>
<div style="padding-bottom: 3vh"></div>
<h4 style="width: 85%; margin: auto">
  <p>Welcome to <span class="red">BSL</span>! <br /></p>

  Pioneers in the fabric industry for last 70 years, we have created and curated
  the right fabric for your needs. Wear your elegance with style.
</h4>

<!-- Want to know more about us? <br />
  Use the tabs at top of the video to watch what <span class="red">BSL</span> is
  all about! -->

<!-- <div style="padding-top: 10vw;"></div> -->

<div style="padding-top: 5vw"></div>

<div class="center">
  <div class="posters">
    <img
      class="slider from-left"
      data-landsource="static\images\posters\post1.jpeg"
      alt=""
    />

    <h1 class="slider">WHEN CLASSIC MEETS TRENDY</h1>
    <p class="slider from-right">
      Flamboyance tailored to perfection with the intricately designed
      indo-western fabrics.
    </p>

    <h1 class="slider">STYLE IT LIKE YOU OWN IT</h1>
    <p class="slider from-left">
      Contemporary yet rooted in timeless traditions. Suave kurtas fabrics for
      the avant-gardes.
    </p>

    <img
      class="slider from-right"
      data-landsource="static\images\posters\post2.jpeg"
      alt=""
    />
    <img
      class="slider from-left"
      data-landsource="static\images\posters\post3.jpeg"
      alt=""
    />

    <h1 class="slider">SARTORIALLY ELEGANT FOR REVELRY</h1>
    <p class="slider from-right">
      Passion suiting fabrics for the tasteful with a dash of glamour and a
      pinch of panache.
    </p>

    <h1 class="slider">A STYLE FOR EVERY STORY</h1>
    <p class="slider from-left">
      For the unconventional and the unbending, who expresses their attitude
      through their attire.
    </p>

    <img
      class="slider from-right"
      data-landsource="static\images\posters\post4.jpeg"
      alt=""
    />
  </div>
</div>
{% endblock %}

<!-- <img
  class="slider from-left"
  data-source="static\images\posters\post5.jpeg"
  alt=""
/>

<h1 class="slider">Add header</h1>
<p class="slider from-right">
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam laudantium
  laboriosam excepturi vero, reprehenderit repellat blanditiis, aliquid
  dolorum cumque minus praesentium asperiores illo, dolore ipsam!
</p>

<h1 class="slider">Add header</h1>
<p class="slider from-left">
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam laudantium
  laboriosam excepturi vero, reprehenderit repellat blanditiis, aliquid
  dolorum cumque minus praesentium asperiores illo, dolore ipsam!
</p>

<img
  class="slider from-right"
  data-source="static\images\posters\post6.jpeg"
  alt=""
/> -->
