<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
      integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
      crossorigin="anonymous"
    ></script>

    <script src="/static/bsl.js"></script>
    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
      crossorigin="anonymous"
    />

    <!-- My CSS -->
    <link href="/static/styles.css" rel="stylesheet" />
    <link rel="icon" href="static\favicon.ico" type="image/x-icon" />

    <!-- Google Links -->

    <link
      href="https://fonts.googleapis.com/css2?family=Crimson+Text&family=PT+Serif&display=swap"
      rel="stylesheet"
    />

    <!-- <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=VOGUE"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Futura"
    /> -->

    <title>{% block title %}{% endblock %}</title>
  </head>
  <body>
    <!-- Add Header -->
    <header>
      <nav
        class="navbar navbar-expand-lg text-white navbar-dark"
        style="background-color: #9b0707; position: fixed; width: 100%;"
      >
        <a class="navbar-brand" href="/" style="padding-left: 1vw;">
          <img
            style="border: 1px solid white; border-radius: 5px;"
            src="/static/images/BSL_Logo.jpeg"
            width="50"
            height="50"
            alt=""
            loading="lazy"
          />
        </a>
        <span style="padding-left: 1vw;"></span>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="/index"
                id="navbarDropdown"
                role="button"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                Home
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a
                  class="dropdown-item"
                  href="{{ url_for('.index', _anchor='video') }}"
                  >BSL Video</a
                >
                <!-- <a
                  class="dropdown-item"
                  href="{{ url_for('.index', _anchor='message') }}"
                  >Chairman and MD's message</a
                >
                <a
                  class="dropdown-item"
                  href="{{ url_for('.index', _anchor='board') }}"
                  >Board of Directors</a
                > -->
              </div>
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                id="navbarDropdown"
                role="button"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                Company
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/profile">Profile</a>
                <a class="dropdown-item" href="/profile">Vision</a>
                <a class="dropdown-item" href="/desk">Chairmen's and MD's Desk</a>
                <a class="dropdown-item" href="/board">Board of Directors</a>
                <a class="dropdown-item" href="/committees">Committees</a>
              </div>
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="/business"
                id="navbarDropdown"
                role="button"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                Our Businesses
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a
                  class="dropdown-item"
                  href="{{ url_for('.business', _anchor='suitings') }}"
                >
                  Suitings
                </a>
                <span class="disabled dropdown-item">BSL Range</span>
                <span class="disabled dropdown-item">Geoffrey Hammonds</span>
                <div class="dropdown-divider"></div>

                <a
                  class="dropdown-item"
                  href="{{ url_for('.business', _anchor='furnishings') }}"
                >
                  Furnishings
                </a>
                <div class="dropdown-divider"></div>

                <a
                  class="dropdown-item"
                  href="{{ url_for('.business', _anchor='yarns') }}"
                >
                  Yarns
                </a>
              </div>
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="/manufacturing"
                id="navbarDropdown"
                role="button"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                Manufacturing
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a
                  class="dropdown-item"
                  href="{{ url_for('.man', _anchor='factory') }}"
                  >Factory</a
                >
                <a
                  class="dropdown-item"
                  href="{{ url_for('.man', _anchor='spinning') }}"
                  >Spinning</a
                >
                <a
                  class="dropdown-item"
                  href="{{ url_for('.man', _anchor='weaving') }}"
                  >Weaving</a
                >
                <a
                  class="dropdown-item"
                  href="{{ url_for('.man', _anchor='processing') }}"
                  >Processing</a
                >
                <a
                  class="dropdown-item"
                  href="{{ url_for('.man', _anchor='quality') }}"
                  >Quality Assurance</a
                >
              </div>
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                id="navbarDropdown"
                role="button"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                Investors
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a
                  class="dropdown-item"
                  target="_blank"
                  rel="noopener noreferrer"
                  href="static\PDF\CODE-OF-CONDUCT.pdf"
                  >Code of Conduct</a
                >
                <a
                  class="dropdown-item"
                  target="_blank"
                  rel="noopener noreferrer"
                  href="static\PDF\Code-of-fair-Disclosure.pdf"
                  >Code of Conduct for Procedures of Fair Disclosure
                  of Unpublished Price Sensitive Information</a
                >
                <a class="dropdown-item" href="/performance"
                  >Financial Performance</a
                >
                <a class="dropdown-item" href="/shareholding"
                  >Shareholding Pattern</a
                >
                <a class="dropdown-item" href="/report">Annual Report</a>
                <a class="dropdown-item" href="/results">Financial Results</a>
                <a class="dropdown-item" href="/correspondence"
                  >Investors Correspondence</a
                >
                <a class="dropdown-item" href="/compliance">Compliance Report</a>
                <a class="dropdown-item" href="/policy">Policy</a>
                <a class="dropdown-item" href="/credit">Credit Rating</a>
                <a class="dropdown-item" href="/directors"
                  >Independent Directors</a
                >
                <a class="dropdown-item" href="/dividend"
                  >Unclaimed and Unpaid Dividend</a
                >
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/disclosure">Disclosures</a>
                <a class="dropdown-item" href="/notice">Notices</a>
              </div>
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                id="navbarDropdown"
                role="button"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                Contact Us
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/contact">Contact Details</a>
                <!-- <a class="dropdown-item" href="/contact">Factory</a> -->
                <a class="dropdown-item" href="/contact">Enquiries</a>
              </div>
            </li>
          </ul>
        </div>
      </nav>
    </header>

    <div style="padding-top: 16vh;"></div>

    <main>
      {% block main %}{%endblock %}
    </main>

    <div style="padding-top: 5vh;"></div>

    <div class="footer-top">
      <b> Head office: </b>BSL Limited, MANDAWA SHIKAR, 151, Sarat Bose Road, Kolkata (WB)-700026, INDIA <br>
      <b>Registered Office: </b>BSL Limited, 26 Industrial Area, Gandhi Nagar, Bhilwara-311001, Rajasthan, INDIA <br>
<b>  Phone :</b> 01482-246801-06, Fax : 01482-246807/246157, bail : exports@bslltd.com <br>
<b>  Corporate Identification Number (CIN) : </b>L24302RJ1970PLC002266 <br>
<b> Plant:</b> BSL Limited, Post Box: 16, Chittorgarh Road Mandpam, Bhilwara (RAJ), INDIA
</div>
<div class="footer-bottom">
  <span>
    &#169 2020 BSL Limited. All Rights Reserved.
  </span>
  <span>
    Connect with us on social media:
    <a href="https://www.facebook.com/BSLSuitings" 
    target="_blank"
    rel="noopener noreferrer">
      <img id = 'flogo' src="static\images\FACEBOOK.png" alt="Facebook Link" />
    </a>
  </span>
</div>
<div style="padding-bottom: 1vh;"></div>
  </body>
  </html>
  