{% extends "layout.html" %} {% block title %} BSL: Manufacturing {% endblock %}
{% block main %}

<h1 id="factory">Factory</h1>
<div style="padding-top: 1vw; padding-bottom: 1vw;"></div>

<div class="center">
  <div data-display="factory" class="chosen">
    <div id="1" class="choose-item">
      <img src="/static/images/factory/f-20200626010158_SNEH5371.JPG" />
    </div>
    <div id="2" class="choose-item">
      <img src="/static/images/factory/f-20200626004203_SNEH5353.JPG" />
    </div>
    <div id="3" class="choose-item">
      <img src="/static/images/factory/Fff-20200625234839_SNEH5317.jpg" />
    </div>
    <div id="4" class="choose-item">
      <img src="/static/images/factory/f-20200626003926_SNEH5350.JPG" />
    </div>
    <div id="5" class="choose-item active">
      <img src="/static/images/DJI_0017-min.JPG" />
    </div>
    <div id="6" class="choose-item">
      <img src="/static/images/DJI_0041-min.JPG" />
    </div>
    <div id="7" class="choose-item">
      <img src="/static/images/DJI_0033-min.JPG" />
    </div>
  </div>
</div>
<div class="center collapse-button">
  <span>View All Images</span>
  <span class="arrow"></span>
</div>
<div class="collapsible">
  <div class="center">
    <div class="gallery">
      <div
        class="ref-image"
        data-reference="5"
        style="background-image: url(/static/images/DJI_0017-min.JPG);"
      ></div>
      <div
        class="ref-image"
        data-reference="6"
        style="background-image: url(/static/images/DJI_0041-min.JPG);"
      ></div>
      <div
        class="ref-image"
        data-reference="7"
        style="background-image: url(/static/images/DJI_0033-min.JPG);"
      ></div>
      <div
        class="ref-image"
        data-reference="4"
        style="
          background-image: url(/static/images/factory/f-20200626003926_SNEH5350.JPG);
        "
      ></div>

      <div
        class="ref-image"
        data-reference="2"
        style="
          background-image: url(/static/images/factory/f-20200626004203_SNEH5353.JPG);
        "
      ></div>
      <div
        class="ref-image"
        data-reference="3"
        style="
          background-image: url(/static/images/factory/Fff-20200625234839_SNEH5317.jpg);
        "
      ></div>

      <div
        class="ref-image"
        data-reference="1"
        style="
          background-image: url(/static/images/factory/f-20200626010158_SNEH5371.JPG);
        "
      ></div>
    </div>
  </div>
</div>

<div style="padding-bottom: 1vw; padding-top: 10vw;"></div>

<h1 id="spinning">Spinning</h1>

<div style="padding-bottom: 1vw; padding-top: 1vw;"></div>
<div class="text-center" id="spinning-text">
  <h5>Poly/Viscose Spinning</h5>
  <h5>Polywool Spinning</h5>
  <h5>Vortex Spinning</h5>
</div>
<div style="padding-bottom: 1vw; padding-top: 1vw;"></div>

<div class="center">
  <div data-display="spinning-text" class="chosen">
    <img id="s1" class="choose-item" src="/static/images/5Y4A6776-min.JPG" />
    <img id="s2" class="choose-item" src="/static/images/5Y4A6778-min.JPG" />
    <img
      id="s3"
      class="choose-item"
      src="/static/images/spinning/fF-20200625234839_SNEH5317.jpg"
    />
    <img
      id="s4"
      class="choose-item"
      src="/static/images/spinning/FF-20200625235005_SNEH5320.jpg"
    />
    <img
      id="s5"
      class="choose-item"
      src="/static/images/spinning/FF-20200625235037_SNEH5321.jpg"
    />
    <img
      id="s6"
      class="choose-item active"
      src="/static/images/spinning/FF-20200626000147_SNEH5332.jpg"
    />
  </div>
</div>
<div class="center collapse-button">
  <span>View All Images</span>
  <span class="arrow"></span>
</div>
<div class="collapsible">
  <div class="center">
    <div class="gallery">
      <div
        class="ref-image"
        data-reference="s1"
        style="background-image: url(/static/images/5Y4A6776-min.JPG);"
      ></div>
      <div
        class="ref-image"
        data-reference="s2"
        style="background-image: url(/static/images/5Y4A6778-min.JPG);"
      ></div>
      <div
        class="ref-image"
        data-reference="s3"
        style="
          background-image: url(/static/images/spinning/fF-20200625234839_SNEH5317.jpg);
        "
      ></div>
      <div
        class="ref-image"
        data-reference="s4"
        style="
          background-image: url(/static/images/spinning/FF-20200625235005_SNEH5320.jpg);
        "
      ></div>
      <div
        class="ref-image"
        data-reference="s5"
        style="
          background-image: url(/static/images/spinning/FF-20200625235037_SNEH5321.jpg);
        "
      ></div>
      <div
        class="ref-image"
        data-reference="s6"
        style="
          background-image: url(/static/images/spinning/FF-20200626000147_SNEH5332.jpg);
        "
      ></div>
    </div>
  </div>
</div>

<div style="padding-bottom: 1vw; padding-top: 5vw;"></div>

<h1 id="weaving">Weaving</h1>

<div style="padding-top: 1vw; padding-bottom: 1vw;"></div>

<div class="center">
  <div data-display="weaving" class="chosen">
    <img class="choose-item" id="w1" src="/static/images/s5.JPG" />
    <img class="choose-item" id="w2" src="/static/images/s7.JPG" />
    <img
      class="choose-item"
      id="w3"
      src="/static/images/weaving/F-20200626002612_SNEH5340.JPG"
    />
    <img
      class="choose-item"
      id="w4"
      src="/static/images/weaving/f-20200626002749_SNEH5342.jpg"
    />
    <img
      class="choose-item"
      id="w5"
      src="/static/images/weaving/F-20200626003159_SNEH5345.JPG"
    />
    <img
      class="choose-item"
      id="w6"
      src="/static/images/weaving/f-20200626024230_SNEH5411.JPG"
    />
    <img
      class="choose-item"
      id="w7"
      src="/static/images/weaving/ff-20200625234005_SNEH5313.jpg"
    />
    <img
      class="choose-item"
      id="w8"
      src="/static/images/weaving/Ff-20200626002351_SNEH5338.jpg"
    />
    <img
      class="choose-item active"
      id="w9"
      src="/static/images/weaving/ff-20200626003408_SNEH5347.jpg"
    />
  </div>
</div>
<div class="center collapse-button">
  <span>View All Images</span>
  <span class="arrow"></span>
</div>
<div class="collapsible">
  <div class="center">
    <div class="gallery">
      <div
        class="ref-image"
        data-reference="w1"
        style="background-image: url(/static/images/s5.JPG);"
      ></div>
      <div
        class="ref-image"
        data-reference="w2"
        style="background-image: url(/static/images/s7.JPG);"
      ></div>
      <div
        class="ref-image"
        data-reference="w3"
        style="
          background-image: url(/static/images/weaving/F-20200626002612_SNEH5340.JPG);
        "
      ></div>
      <div
        class="ref-image"
        data-reference="w4"
        style="
          background-image: url(/static/images/weaving/f-20200626002749_SNEH5342.jpg);
        "
      ></div>
      <div
        class="ref-image"
        data-reference="w5"
        style="
          background-image: url(/static/images/weaving/F-20200626003159_SNEH5345.JPG);
        "
      ></div>
      <div
        class="ref-image"
        data-reference="w6"
        style="
          background-image: url(/static/images/weaving/f-20200626024230_SNEH5411.JPG);
        "
      ></div>
      <div
        class="ref-image"
        data-reference="w7"
        style="
          background-image: url(/static/images/weaving/ff-20200625234005_SNEH5313.jpg);
        "
      ></div>
      <div
        class="ref-image"
        data-reference="w8"
        style="
          background-image: url(/static/images/weaving/Ff-20200626002351_SNEH5338.jpg);
        "
      ></div>
      <div
        class="ref-image"
        data-reference="w9"
        style="
          background-image: url(/static/images/weaving/ff-20200626003408_SNEH5347.jpg);
        "
      ></div>
    </div>
  </div>
</div>
<div style="padding-bottom: 1vw; padding-top: 10vw;"></div>

<h2 id="processing">Processing</h2>
<div style="padding-top: 1vw; padding-bottom: 1vw;"></div>

<div class="center">
  <div class="chosen" data-display="processing">
    <img id="p1" class="choose-item active" src="/static/images/s2.JPG" />
    <img
      id="p2"
      class="choose-item"
      src="/static/images/processsing/f-20200626005309_SNEH5363.JPG"
    />
    <img
      id="p3"
      class="choose-item"
      src="/static/images/processsing/f-20200626005520_SNEH5366.JPG"
    />
    <img
      id="p4"
      class="choose-item"
      src="/static/images/processsing/f-20200626005620_SNEH5367.JPG"
    />
    <img
      id="p5"
      class="choose-item"
      src="/static/images/processsing/f-20200626005909_SNEH5368.JPG"
    />
    <img
      id="p6"
      class="choose-item"
      src="/static/images/processsing/ff-20200626011436_SNEH5378.jpg"
    />
  </div>
</div>
<div class="center collapse-button">
  <span>View All Images</span>
  <span class="arrow"></span>
</div>
<div class="collapsible">
  <div class="center">
    <div class="gallery">
      <div
        data-reference="p1"
        class="ref-image"
        style="background-image: url(/static/images/s2.JPG);"
      ></div>
      <div
        data-reference="p2"
        class="ref-image"
        style="
          background-image: url(/static/images/processsing/f-20200626005309_SNEH5363.JPG);
        "
      ></div>
      <div
        data-reference="p3"
        class="ref-image"
        style="
          background-image: url(/static/images/processsing/f-20200626005520_SNEH5366.JPG);
        "
      ></div>
      <div
        data-reference="p4"
        class="ref-image"
        style="
          background-image: url(/static/images/processsing/f-20200626005620_SNEH5367.JPG);
        "
      ></div>
      <div
        data-reference="p5"
        class="ref-image"
        style="
          background-image: url(/static/images/processsing/f-20200626005909_SNEH5368.JPG);
        "
      ></div>
      <div
        data-reference="p6"
        class="ref-image"
        style="
          background-image: url(/static/images/processsing/ff-20200626011436_SNEH5378.jpg);
        "
      ></div>
    </div>
  </div>
</div>
<div style="padding-bottom: 1vw; padding-top: 10vw;"></div>

<h2 id="quality">Quality Control</h2>
<div style="padding-top: 1vw; padding-bottom: 1vw;"></div>
<div class="center">
  <div class="chosen" data-display="quality">
    <img class="choose-item" id="q1" src="/static/images/s3.JPG" />
    <img class="choose-item" id="q2" src="/static/images/s9.JPG" />
    <img class="choose-item" id="q3" src="/static/images/s10.JPG" />
    <img
      class="choose-item active"
      id="q4"
      src="/static/images/quality/f-20200626025306_SNEH5424.JPG"
    />
    <img
      id="q5"
      class="choose-item"
      src="/static/images/quality/ff-20200626005008_SNEH5362.jpg"
    />
  </div>
</div>
<div class="center collapse-button">
  <span>View All Images</span>
  <span class="arrow"></span>
</div>
<div class="collapsible">
  <div class="center">
    <div class="gallery">
      <div
        class="ref-image"
        data-reference="q1"
        style="background-image: url(/static/images/s3.JPG);"
      ></div>
      <div
        class="ref-image"
        data-reference="q2"
        style="background-image: url(/static/images/s9.JPG);"
      ></div>
      <div
        class="ref-image"
        data-reference="q3"
        style="background-image: url(/static/images/s10.JPG);"
      ></div>
      <div
        class="ref-image"
        data-reference="q4"
        style="
          background-image: url(/static/images/quality/f-20200626025306_SNEH5424.JPG);
        "
      ></div>
      <div
        data-reference="q5"
        class="ref-image"
        style="
          background-image: url(/static/images/quality/ff-20200626005008_SNEH5362.jpg);
        "
      ></div>
    </div>
  </div>
</div>
{% endblock %}
