{% extends "layout.html" %} {% block title %} BSL: Manufacturing {% endblock %}
{% block main %}

<h1 id="factory">Factory</h1>
<div style="padding-top: 1vw; padding-bottom: 1vw;"></div>

<div class="center">
  <ul class="chosen">
    <li id="1" class="choose-item">
      <img src="/static/images/factory/f-20200626010158_SNEH5371.JPG" />
    </li>
    <li id="2" class="choose-item">
      <img src="/static/images/factory/f-20200626004203_SNEH5353.JPG" />
    </li>
    <li id="3" class="choose-item">
      <img src="/static/images/factory/Fff-20200625234839_SNEH5317.jpg" />
    </li>
    <li id="4" class="choose-item">
      <img src="/static/images/factory/f-20200626003926_SNEH5350.JPG" />
    </li>
    <li id="5" class="choose-item active">
      <img src="/static/images/DJI_0017-min.JPG" />
    </li>
    <li id="6" class="choose-item">
      <img src="/static/images/DJI_0041-min.JPG" />
    </li>
    <li id="7" class="choose-item">
      <img src="/static/images/DJI_0033-min.JPG" />
    </li>
  </ul>
</div>
<div class="center collapse-button">
  <span>View All Images</span>
  <span class="arrow"></span>
</div>
<div class="collapsible-active">
  <div class="center">
    <div class="gallery">
      <div
        class="ref-image"
        data-reference="5"
        style="background-image: url(/static/images/DJI_0017-min.JPG);"
      ></div>
      <div
        class="ref-image"
        data-reference="6"
        style="background-image: url(/static/images/DJI_0041-min.JPG);"
      ></div>
      <div
        class="ref-image"
        data-reference="7"
        style="background-image: url(/static/images/DJI_0033-min.JPG);"
      ></div>
      <div
        class="ref-image"
        data-reference="4"
        style="
          background-image: url(/static/images/factory/f-20200626003926_SNEH5350.JPG);
        "
      ></div>

      <div
        class="ref-image"
        data-reference="2"
        style="
          background-image: url(/static/images/factory/f-20200626004203_SNEH5353.JPG);
        "
      ></div>
      <div
        class="ref-image"
        data-reference="3"
        style="
          background-image: url(/static/images/factory/Fff-20200625234839_SNEH5317.jpg);
        "
      ></div>

      <div
        class="ref-image"
        data-reference="1"
        style="
          background-image: url(/static/images/factory/f-20200626010158_SNEH5371.JPG);
        "
      ></div>
    </div>
  </div>
</div>
<!-- 
<div class="vertical-center">
  <img class="gallery" src="/static/images/5Y4A6776-min.JPG" />
  <img class="gallery" src="/static/images/5Y4A6778-min.JPG" />
</div> -->

<!--<div class="imgcenter">
</div>
 -->
<div style="padding-bottom: 1vw; padding-top: 10vw;"></div>

<h2 id="spinning">Spinning</h2>
<div style="padding-bottom: 1vw; padding-top: 1vw;"></div>
<div class="imgcenter">
  <img class="gallery" src="/static/images/5Y4A6776-min.JPG" />
  <img class="gallery" src="/static/images/5Y4A6778-min.JPG" />
  <img
    class="gallery"
    src="/static/images/spinning/fF-20200625234839_SNEH5317.jpg"
  />
  <img
    class="gallery"
    src="/static/images/spinning/FF-20200625235005_SNEH5320.jpg"
  />
  <img
    class="gallery"
    src="/static/images/spinning/FF-20200625235037_SNEH5321.jpg"
  />
  <img
    class="gallery"
    src="/static/images/spinning/FF-20200626000147_SNEH5332.jpg"
  />
  <div class="spinning-text">
    <h5>Poly/Viscose Spinning</h5>
    <h5>Polywool Spinning</h5>
    <h5>Vortex Spinning</h5>
  </div>
</div>
<div style="padding-bottom: 1vw; padding-top: 5vw;"></div>

<h2 id="weaving">Weaving</h2>
<div style="padding-top: 1vw; padding-bottom: 1vw;"></div>
<div class="imgcenter">
  <img class="gallery" src="/static/images/s5.JPG" />
  <img class="gallery" src="/static/images/s7.JPG" />
  <img
    class="gallery"
    src="/static/images/weaving/F-20200626002612_SNEH5340.JPG"
  />
  <img
    class="gallery"
    src="/static/images/weaving/f-20200626002749_SNEH5342.jpg"
  />
  <img
    class="gallery"
    src="/static/images/weaving/F-20200626003159_SNEH5345.JPG"
  />
  <img
    class="gallery"
    src="/static/images/weaving/f-20200626024230_SNEH5411.JPG"
  />
  <img
    class="gallery"
    src="/static/images/weaving/ff-20200625234005_SNEH5313.jpg"
  />
  <img
    class="gallery"
    src="/static/images/weaving/Ff-20200626002351_SNEH5338.jpg"
  />
  <img
    class="gallery"
    src="/static/images/weaving/ff-20200626003408_SNEH5347.jpg"
  />
</div>
<div style="padding-bottom: 1vw; padding-top: 10vw;"></div>

<h2 id="processing">Processing</h2>
<div style="padding-top: 1vw; padding-bottom: 1vw;"></div>
<div class="imgcenter">
  <img class="gallery" src="/static/images/s2.JPG" />
  <img
    class="gallery"
    src="/static/images/processsing/f-20200626005309_SNEH5363.JPG"
  />
  <img
    class="gallery"
    src="/static/images/processsing/f-20200626005520_SNEH5366.JPG"
  />
  <img
    class="gallery"
    src="/static/images/processsing/f-20200626005620_SNEH5367.JPG"
  />
  <img
    class="gallery"
    src="/static/images/processsing/f-20200626005909_SNEH5368.JPG"
  />
  <img
    class="gallery"
    src="/static/images/processsing/ff-20200626011436_SNEH5378.jpg"
  />
</div>
<div style="padding-bottom: 1vw; padding-top: 10vw;"></div>

<h2 id="quality">Quality Control</h2>
<div style="padding-top: 1vw; padding-bottom: 1vw;"></div>
<div class="imgcenter">
  <img class="gallery" src="/static/images/s3.JPG" />
  <img class="gallery" src="/static/images/s9.JPG" />
  <img class="gallery" src="/static/images/s10.JPG" />
  <img
    class="gallery"
    src="/static/images/quality/f-20200626025306_SNEH5424.JPG"
  />
  <img
    class="gallery"
    src="/static/images/quality/ff-20200626005008_SNEH5362.jpg"
  />
</div>
<div style="padding-bottom: 1vw; padding-top: 10vw;"></div>

{% endblock %}
