{% extends "layout.html" %}

{% block title %}
    BSL: Manufacturing
{% endblock %}

{% block main %}

    <h2 id = "factory"> Factory </h2>
    <div style = "padding-top: 1vw; padding-bottom: 1vw"></div>
    <div class = "imgcenter">
    <img src = "/static/images/DJI_0017-min.JPG" class = "gallery">
    <img src = "/static/images/DJI_0041-min.JPG" class = "gallery">
    <img src = "/static/images/DJI_0033-min.JPG" class = "gallery">
    </div>
    <div style = "padding-bottom: 1vw; padding-top: 10vw"></div>

    <h2 id = "spinning"> Spinning </h2>
    <div style = "padding-bottom: 1vw; padding-top: 1vw"></div>
    <div class = "imgcenter">
    <img class = "gallery" src = "/static/images/5Y4A6776-min.JPG">
    <img class = "gallery" src = "/static/images/5Y4A6778-min.JPG">
        <div class = "spinning-text">
            <h5>Poly/Viscose Spinning</h5>
            <h5>Polywool Spinning</h5>
            <h5>Vortex Spinning</h5>
        </div>
    </div>
    <div style = "padding-bottom: 1vw; padding-top: 5vw"></div>

    <div style = "padding-bottom: 1vw; padding-top: 10vw"></div>

    <h2 id = "weaving"> Weaving</h2>
    <div style = "padding-top: 1vw; padding-bottom: 1vw" ></div>
    <div class = "imgcenter">
    <img class = "gallery" src = "/static/images/s5.JPG">
    <img class = "gallery" src = "/static/images/s7.JPG">
    </div>
    <div style = "padding-bottom: 1vw; padding-top: 10vw"></div>

    <h2 id = "processing"> Processing </h2>
    <div style = "padding-top: 1vw; padding-bottom: 1vw"></div>
    <div class = "imgcenter">
    <img class = "gallery" src = "/static/images/s2.JPG">
    </div>
    <div style = "padding-bottom: 1vw; padding-top: 10vw"></div>

    <h2 id = "quality"> Quality Control</h2>
    <div style = "padding-top: 1vw; padding-bottom: 1vw"></div>
    <div class = "imgcenter">
    <img class = "gallery" src = "/static/images/s3.JPG">
    <img class = "gallery" src = "/static/images/s9.JPG">
    <img class = "gallery" src = "/static/images/s10.JPG">
    </div>
    <div style = "padding-bottom: 1vw; padding-top: 10vw"></div>

{% endblock %}