{% extends "layout.html" %} {% block title %} BSL: Financial Performance {%
endblock %} {% block main %}
<h1 class="red">Financial Performance</h1>
<p class="text-center" style="font-size: large; font-family: 'PT Serif', serif">
  (Rupees in Crores)
</p>
<div class="center">
  <table class="data-table">
    {% for i in range(length) %}
    <th>{{ headers[i] }}</th>
    {% endfor %} {% for row in rows %}
    <tr>
      {% for i in range(length) %}

      <td>{{ row[i] }}</td>
      {% endfor %}
    </tr>
    {% endfor %}
  </table>
</div>
{% endblock %}
