{% extends "layout.html" %} {% block title %} BSL: Manufacturing {% endblock %}
{% block main %}
<h1>Policy</h1>

<div style="padding-top: 5vh;"></div>

<div class="column">
  <table>
    <tr>
      <td>
        <a
          target="_blank"
          rel="noopener noreferrer"
          href="static\PDF\Whistle-Blower-Policy.pdf"
          >Whistle Blower Policy</a
        >
      </td>
    </tr>
    <tr>
      <td>
        <a
          target="_blank"
          rel="noopener noreferrer"
          href="static\PDF\BSL_CSR Policy.pdf"
          >CSR Policy</a
        >
      </td>
    </tr>
    <tr>
      <td>
        <a
          target="_blank"
          rel="noopener noreferrer"
          href="static\PDF\Policy-for-Determination-Materiality-of-Events.pdf"
          >Policy for Determination Materiality of Events</a
        >
      </td>
    </tr>
    <tr>
      <td>
        <a target="_blank" rel="noopener noreferrer" href="#"
          >Policy for determining Material Subsidiary</a
        >
      </td>
    </tr>
    <tr>
      <td>
        <a
          target="_blank"
          rel="noopener noreferrer"
          href="static\PDF\archival-policy.pdf"
          >Archival Policy</a
        >
      </td>
    </tr>
    <tr>
      <td>
        <a target="_blank" rel="noopener noreferrer" href="#"
          >Policy on Related Party Transactions BSL</a
        >
      </td>
    </tr>
    <tr>
      <td>
        <a
          target="_blank"
          rel="noopener noreferrer"
          href="static\PDF\Nomination-Remuneration-Policy.pdf"
        >
          Nomination and Renumeration Policy</a
        >
      </td>
    </tr>
  </table>
</div>
{% endblock %}
