{% extends "layout.html" %} {% block title %} BSL: Company Profile {% endblock
%} {% block main %}
<h1>Company Profile</h1>
<div style="padding-bottom: 5vh;"></div>
<div class="matter-align-center">
  <h4 class="subheading">The Dawn</h4>
  <div style="padding-bottom: 2vh;"></div>
  <p>
    In the days when the idea of manufacturing Poly Viscose Suiting was a unique
    concept in India, BSL Limited was born in the desert state of Rajasthan in
    the year 1971 and the town where this happened was Bhilwara.
    <br />
    Over the years with the belief that there are no shortcuts to excellence,
    BSL has moved from strength to strength today as a multi-million dollar
    company on the international map of premium suitings. We are one of the
    leading manufacturers & exporters of Poly Viscose and Poly Wool Suitings
    fabric.
    <br />
    Similarly in 2005, when the concept of Silk fabrics and Furnishing fabrics
    was still new to the town Bhilwara, the company diversified into furnishing
    and suitings fabrics with the manufacturing of huge Silk fabrics and today
    it is one of the leading manufacturers and exporters of furnishing fabrics
    from India with a diverse range in various synthetic, blended and silk
    fabrics.
    <br />
    With an experience of almost 5 decades in textile manufacturing, BSL is
    currently producing over 20.00 million meters of fabric every year. The
    product range covers Pure Wool / Poly Viscose/ Poly Wool suitings fabric
    along with synthetic blended and silk fabrics for furnishing. BSL today has
    a presence in 60 countries over the world and in every state and district in
    India.The company has earned numerous awards for its outstanding export
    performance.
    <br />
    BSL products are manufactured under ISO / ISO 9001. It also has various
    international certifications such as OEKOTEX, VEGAN etc.
  </p>
  <div style="padding-bottom: 5vh;"></div>
  <h4 class="subheading">The Vision</h4>
  <div style="padding-bottom: 2vh;"></div>
  <p>
    The first step towards any big achievement is the vision behind it. Every
    big success story was first a dream in someone's mind. Every tree was first
    a small seed.
    <br />
    BSL has survived the test of times and and in today's challenging dynamic
    scenario of international business has emerged as a winner which is largely
    due to its vision towards growth and commitment towards quality &
    excellence. BSL continues to expand its horizons and with its visionary
    leadership and constantly strives to further consolidate its position in the
    textile market and emerge as a leader in both its segments if suiting's &
    furnishing domestically and globally.
  </p>
</div>

{% endblock %}
